.wrapper {
  background-color: $text-graye8;
}
.container {
  max-width: 1180px !important;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.breadcrumbs {
  padding: 25px 0;
}
.breadcrumbLink {
  color: $text-primary;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: $text-secondary;
  }
}
.activeLink {
  color: $text-secondary;
}
@media (max-width: 1024.98px) {
  .breadcrumbs {
    padding-left: 20px;
    padding-right: 20px;
  }
}
