.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 997;
  background-color: #ccc;
  .left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    gap: 10px;
    button[role="menuitem"] {
      cursor: pointer;
      font-size: 16px;
      &:hover {
        background-color: transparent;
        color: #00b5f1;
        transition: all 0.3s linear;
      }
    }
  }
}
