.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 997;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  .left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    gap: 10px;
    button[role="menuitem"] {
      cursor: pointer;
      font-size: 16px;
      &:hover {
        background-color: transparent;
        color: #00b5f1;
        transition: all 0.3s linear;
      }
    }
  }
}

.tablet {
  display: none;
  visibility: hidden;
}

@media (max-width: 1024.98px) {
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav {
    display: none;
    visibility: hidden;
  }
  .avatar {
    display: none;
    visibility: hidden;
  }
  .btnLogin {
    display: none;
    visibility: hidden;
  }
  .tablet {
    display: block;
    visibility: visible;
  }
  .navTablet {
    z-index: 99999;
    padding: 0;
    max-width: 60vw !important;
  }
  .accordionTrigger {
    justify-content: start;
    gap: 12px;
    svg {
      margin-left: auto;
    }
  }
}
