.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 997;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  .left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    gap: 10px;
    button[role="menuitem"] {
      cursor: pointer;
      font-size: 16px;
      &:hover {
        background-color: transparent;
        color: $text-secondary;
        transition: all 0.3s linear;
      }
    }
  }
}

.tablet {
  display: none;
  visibility: hidden;
}

@media (max-width: 1024.98px) {
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav {
    display: none !important;
    visibility: hidden !important;
  }
  .btnLogin {
    display: none !important;
    visibility: hidden !important;
  }
  .tablet {
    display: block !important;
    visibility: visible !important;
  }
  .navTablet {
    z-index: 99999 !important;
    padding: 0 !important;
    max-width: 60vw !important;
  }
  .accordionTrigger {
    justify-content: start;
    gap: 12px;
    text-align: start;
    svg {
      margin-left: auto;
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 575.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navTablet {
    width: 100% !important;
    max-width: 100% !important;
  }
}
