.container {
  overflow: hidden;
}
.main {
  max-width: 1180px !important;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 30px 0 rgba(116, 157, 206, 0.2);
  border-radius: 55px;
  padding: 56px 73px;
  margin-top: 50px;
}
.header {
  margin-bottom: 50px;
}
.title {
  font-weight: 700;
  font-size: 39px;
  line-height: 48px;
  color: $text-secondary;
  margin-bottom: 4px;
}
.desc {
  color: $text-gray85;
  font-size: 20px;
  line-height: 23px;
}
.logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 55px 10px;
  margin-bottom: 50px;
}

@media (max-width: 1024.98px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 940.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main {
    border-radius: 0;
    margin-top: 0;
    padding: 25px;
  }
}
