.bannerWrapper {
  background: url("/img/BannerDefault.png");
  position: relative;
  width: 100%;
  height: 45vh;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}
.bannerContainer {
  max-width: 1180px !important;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  position: relative;
}
.card {
  z-index: 99;
  padding: 30px;
  border-radius: 30px;
  border: 3px solid #fff;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: hsla(0, 0%, 100%, 0.85);
  box-shadow: 4px 8px 20px 0 hsla(199, 9%, 64%, 0.3);
  max-width: 750px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}

.bannerImage {
  position: absolute;
  right: -7%;
  z-index: 1;
  width: 520px;
  height: 350px;
  bottom: 0;
}

.title {
  font-size: 39px;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  background: linear-gradient(40deg, #00b5f1, #00e0ff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.desc {
  line-height: 29px;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: left;
  padding-bottom: 16px;
  text-wrap: wrap;
}
.body {
  background: #e8f2f7;
  color: #003553;
}
.container {
  max-width: 1060px;
  min-height: 45vh;
  padding: 0 10px 54px 10px;
  gap: 20px;
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
.search {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 752px;
  height: 52px;
  background-color: white;
  box-shadow: 4px 8px 30px rgba(192, 202, 214, 0.35);
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  padding: 14px;
  margin-left: auto;
  margin-right: auto;
  input {
    padding: 5px;
    outline: none;
    font-size: 14px;
    flex: 1;
    background: transparent;
  }
}

.listDoctor {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 15px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.frame {
  padding: 12px;
  background-color: #eff6ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.groupAddress {
  align-items: flex-start;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}
.hospitalName {
  align-self: stretch;
  color: #003553;
  font-size: 16px;
  font-weight: 600;
  margin-top: -1px;
  margin-bottom: 0;
  word-wrap: break-word;
}
.address {
  color: #858585;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word !important;
}

.btn {
  padding: 20px 16px;
  transition: all 0.3s ease;
  border-radius: 30px;
  width: 150px !important;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(83.63deg, #00b5f1 33.34%, #00e0ff 113.91%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
    background-color: inherit;
  }
}

.emptyList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #ffb54a;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}

@media (max-width: 940.98px) {
  .right {
    display: none;
    visibility: hidden;
  }
  .listDoctor {
    display: block;
  }
  .search {
    width: 80%;
  }
}
