.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}
.content {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 25px;
  padding-bottom: 30px;
}
.leftContent,
.rightContent {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 30px 0 rgba(116, 157, 206, 0.2);
  overflow: hidden;
  padding-bottom: 3px;
}

.leftHeader,
.rightHeader {
  color: #fff;
  padding: 10px 14px;
  @include bg-linear-gradient(36deg, $percent1: 0%, $percent2: 100%);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.leftBody {
  padding: 10px 14px;
  ul {
    li {
      display: flex;
      align-items: flex-start;
      gap: 5px;
    }
  }
  ul > * ~ * {
    margin-top: 10px;
  }
  .address {
    color: $text-gray85;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
  }
  .hospitalInfo {
    span {
      font-weight: 600;
    }
  }
}
.rightHeader {
  text-align: center;
  font-weight: 700;
}
.rightBody {
  padding: 18px 20px;
}
.search {
  padding-bottom: 20px;
}
.listSubject,
.listDoctor,
.listService {
  max-height: 300px;
  height: fit-content;
  overflow-y: scroll;
  overflow: hidden scroll;
  scroll-behavior: smooth;
  scrollbar-color: unset !important;
  &::-webkit-scrollbar {
    width: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d6dee1 !important;
    border-radius: 20px !important;
    border: 7px solid transparent !important;
    background-clip: content-box !important;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf !important;
  }
}

.subjectItem {
  padding: 15px 0;
  border-top: 1px solid #dfe3eb;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.2px;
  animation: styles_slide-in-blurred-right 0.2s;
  &:hover {
    color: $text-secondary;
  }
}
.itemName {
  text-transform: uppercase;
  display: block;
}
.itemNote {
  font-weight: 500;
  font-style: italic;
}

.listFilter {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.selectTrigger {
  max-width: 150px;
  width: 100%;
  @include bg-linear-gradient();
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
}

// CHOOSE DOCTOR
.listDoctor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.cardDoctor {
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  transition: all 0.15s ease-in-out;
  &:hover {
    box-shadow: 0 0 5px #1da1f2;
  }
}
.infoLine {
  display: flex;
  gap: 15px;
  font-weight: 500;
}
.highlight {
  color: $text-light-orange !important;
  font-weight: 700 !important;
}
// CHOOSE SERVICE
.dialogContent {
  padding: 0;
  max-width: 500px;
  overflow: hidden;
  gap: 0;
}
.dialogHeader {
  padding: 16px;
  @include bg-linear-gradient(40deg, $percent1: 0%, $percent2: 100%);
  color: white;
  text-transform: uppercase;
}
.dialogBody {
  overflow-y: auto !important;
  max-height: 520px;
  padding: 16px;
  font-size: 15px;
  word-wrap: break-word;
  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
  }
  ul {
    list-style: circle;
    padding-inline-start: 30px;
  }
}
// CHOOSE CALENDAR
.timeline {
  padding: 16px;
  border-top: 2px solid $text-secondary;
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
}
.boxTimeline {
  display: flex;
  align-items: center;
  gap: 10px;
}
.boxTimelineItem {
  background-color: #1da1f2;
  padding: 10px;
}
// MOBILE
.mobile {
  display: none;
  visibility: hidden;
}
@keyframes styles_slide-in-blurred-right {
  0% {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
@media (max-width: 940.98px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .serviceTable {
    display: none;
    visibility: hidden;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    visibility: visible;
    width: 100%;
    gap: 20px;
  }
  .mobileBox {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mobileItem {
    display: flex;
    align-items: flex-start;
    gap: 10px 15px;
    font-weight: 500;
  }
  .mobileItemTitle {
    min-width: 120px;
  }
  .mobileItemContent {
    font-weight: 600;
  }
}
@media (max-width: 576.98px) {
  .listFilter {
    overflow-x: auto;
    padding: 4px;
  }
  .listDoctor,
  .listFilter,
  .listService,
  .listSubject {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}
