.wrapper {
  max-width: 90vw;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}
.container {
  width: 100%;
  background-color: white;
  border: 1px solid $text-graye0;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.sideBar {
  min-height: 300px;
  max-width: 380px;
  width: 100%;
  height: 100%;
  padding: 12px;
  border-right: 1px solid #ccc;
}
.main {
  flex: 1;
}
.title {
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  color: #050505;
}
.search {
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 18px;
  border-radius: 100rem;
  margin-top: 20px;
  input {
    background-color: transparent;
    width: 100%;
    &::placeholder {
      color: #76787c;
    }
    &:focus {
      outline: none;
    }
  }
}
.chatContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.chatBox {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $text-graye0;
  }
}
.active {
  background-color: #ebf5ff;
}
.avatar {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
  }
}
.name,
.msg {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}
.name {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.msg {
  font-size: 14px;
  color: #76787c;
}

.main {
  position: relative;
  overflow: hidden;
}
.nav {
  background-color: white;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  .name,
  .msg {
    line-height: normal;
  }
  .name {
    font-weight: 600;
  }
}
.navAvatar {
  width: 45px;
  height: 45px;
  position: relative;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
  }
}
.circle {
  position: absolute;
  bottom: 0;
  right: 2px;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.online {
  width: 13px;
  height: 13px;
  padding: 5px;
  background-color: #4caf50;
  border-radius: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 8px 0px;
}

.inputMsg {
  width: 100%;
  flex: 1;
  background-color: #f0f2f5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.messageBox {
  background-color: transparent;
  padding: 5px;
  line-height: normal;
  width: 100%;
  resize: none;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 150px;
  height: auto;
  &:focus {
    outline: none;
  }
}
.messageDisplay {
  position: relative;
  height: 400px;
  overflow: hidden scroll;
  background-color: #f0f3f7;
  background-opacity: 0.5;
  // background: url("/img/avatar/wallapaper.jpeg") no-repeat center center;
  background-size: cover;
  scrollbar-color: unset !important;
  &::-webkit-scrollbar {
    width: 20px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d6dee1 !important;
    border-radius: 20px !important;
    border: 6px solid transparent !important;
    background-clip: content-box !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf !important;
  }
}

@media (max-width: 1024.98px) {
  .wrapper {
    padding: 20px 0;
  }
  .sideBar {
    max-width: fit-content;
  }
}
@media (max-width: 940.98px) {
  .container {
    flex-direction: column;
  }
  .sideBar {
    max-width: 100%;
    min-height: unset;
    width: 100%;
    border-right: none;
  }
  .main {
    border-top: 1px solid black;
  }
}
