.paginationItem {
  background-color: white !important;
  color: $text-secondary;
  border-radius: 8px;
  overflow: hidden;
  &:hover {
    box-shadow: 0 4px 15px rgba(116, 157, 206, 0.5);
  }
}
.active {
  @include bg-linear-gradient(98.96deg, $percent1: 40.75%, $percent2: 129.57%);
  color: white;
}
