.container {
  overflow: hidden;
}
.main {
  max-width: 1180px !important;
  width: 100%;
  margin: 0 auto;
  margin-top: 64px;
  padding-bottom: 30px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 39px;
  line-height: 48px;
  color: #00b5f1;
  margin-bottom: 40px;
}

.content {
  display: grid;
  grid-template-columns: 1.8fr 2.5fr;
  gap: 20px;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cardLeft,
.cardRight {
  padding: 14px;
  background: #fff;
  border-radius: 16px;
  transition: all 0.19s ease-in;
  height: 100%;
  &:hover {
    box-shadow: 0 1px 7px 8px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
}

.cardLeftImage {
  height: 279px;
}
.cardRightImage {
  height: 192px;
}
.cardLeftTitle,
.cardRightTitle {
  font-weight: 500;
  margin-top: 16px;
}
.cardLeftTitle {
  font-size: 20px;
  line-height: 23px;
}
.cardRightTitle {
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cardLeftTime,
.cardRightTime {
  display: block;
  color: #858585;
  font-size: 13px;
  line-height: 15px;
}
.cardLeftTime {
  margin: 8px 0;
}
.cardRightTime {
  margin-top: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cardLeftDesc {
  font-size: 16px;
  line-height: 140%;
}
@media (max-width: 1024.98px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
