$text-primary: #003553;
$text-secondary: #00b5f1;
$text-gray85: #858585;
$text-graye8: #e8f2f7;
$text-graye0: #e0e0e0;
$text-light-orange: #ffb54a;

@mixin bg-linear-gradient(
  $deg: 83.63deg,
  $color1: #00b5f1,
  $percent1: 33.34%,
  $color2: #00e0ff,
  $percent2: 113.91%
) {
  background: linear-gradient($deg, $color1 $percent1, $color2 $percent2);
}
