.container {
  background: url("/img/banner_booking.png") no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main {
  max-width: 1180px !important;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  padding-top: 55px;
}
.title {
  font-weight: 800;
  font-size: 45px;
  line-height: 48px;
  color: $text-secondary;
  margin-top: 45px;
  margin-bottom: 20px;
}
.desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: $text-primary;
  margin-bottom: 20px;
}

.btn {
  padding: 30px 50px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 19px;
  @include bg-linear-gradient();
  border-radius: 30px;
  text-align: center;
  border-color: transparent;
  transition: all 0.5s;
  &:hover {
    @include bg-linear-gradient();
  }
}
.overlay {
  background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0) 72.87%);
  position: absolute;
  width: 100%;
  min-height: 235px;
  bottom: 0;
}

@media (max-width: 1024.98px) {
  .main {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 940.98px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .content {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 20px;
    padding-bottom: 50px;
  }
  .btn {
    padding-bottom: 30px;
  }
}
@media (max-width: 800.98px) {
  .left {
    padding-bottom: 50px;
  }
}
@media (max-width: 575.98px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title,
  .desc {
    text-align: center;
  }
  .btn {
    width: 100%;
  }
}
