.dialogContent {
  max-width: 1000px;
  width: 100%;
  padding: 0;
  z-index: 999999999;
  height: 100%;
  max-height: 70vh;
  overflow: hidden;
  display: flex;
}
.cardContent {
  overflow-y: scroll;
  flex-grow: 1;
}
.tabContainer {
  display: flex;
  align-items: center;
  flex: 1;
}
.sidebar {
  max-width: 230px;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f7f7f7;
}
.sidebarTitle {
  font-size: 24px;
  font-weight: 600;
  color: #212126;
}
.sidebarDesc {
  color: #747686;
  font-weight: 500;
  font-size: 13px;
}
.sidebarItem {
  width: 100%;
  gap: 10px;
  padding: 10px;
  justify-content: flex-start;
}
.tabContent {
  margin-top: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.btn_submit {
  color: white;
  width: 100%;
  padding: 20px 0;
  font-size: 16px;
  &:hover {
    outline: 0;
    background-color: #1da1f2;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
.updateMe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.appointmentTablet {
  display: none;
  visibility: hidden;
}

@media (max-width: 1024.98px) {
  .dialogContent {
    max-width: 95%;
  }
}
@media (max-width: 940.98px) {
  .table {
    display: none;
    visibility: hidden;
  }
  .appointmentTablet {
    visibility: visible;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .appointmentBox {
    border: 1px solid #1da1f2;
    padding: 10px;
    border-radius: 4px;
  }
  .appointmentBoxItem {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
}
@media (max-width: 860.98px) {
  .tabContainer {
    flex-direction: column;
  }
  .cardContent {
    padding-bottom: 70px;
  }
  .sidebar {
    flex-direction: row;
    max-width: 100%;
    height: fit-content;
    width: 100%;
    padding: 5px;
  }
  .sidebarTitle,
  .sidebarDesc {
    display: none;
    visibility: hidden;
    align-items: center;
    justify-content: center;
  }
  .sidebarItem {
    margin-top: 0 !important;
  }
  .appointmentTablet {
    overflow: hidden auto;
  }
}
@media (max-width: 620.98px) {
  .updateMe {
    grid-template-columns: 1fr;
  }
}
