.footer {
  background: white;
  border-top: 1px solid #eaeaea;
  position: relative;
}

.container {
  padding-top: 32px;
  padding-bottom: 16px;
  max-width: 1180px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 100px;
}
.leftInfo {
  li {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 22px;
    color: $text-primary;
    span {
      font-weight: 800;
    }
  }
}

.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 148.51%;
  color: $text-primary;
  margin-bottom: 0;
}

.list {
  li {
    a {
      font-weight: 300;
      font-size: 14px;
      line-height: 148.51%;
      color: $text-primary;
      transition: all 0.4s;
      &:hover {
        color: $text-secondary;
      }
    }
  }
}

.order {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images {
  width: 97px;
  height: 30px;
}

.coppyRight {
  @include bg-linear-gradient(82.98deg, $percent1: 33.22%, $percent2: 135.46%);
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 16px 0 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerMobile {
  display: none;
  visibility: hidden;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999999999999999;
  background-color: white;
  padding: 10px 100px;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.footerMobileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}
.footerMobileIcon {
  width: 24px;
  height: 24px;
}
@media (max-width: 1024.98px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content {
    display: flex;
  }
  .right {
    display: none;
    visibility: hidden;
  }
  .order {
    justify-content: start;
    margin-top: 15px;
  }
  .images {
    width: 122px;
    height: 53px;
  }
  .coppyRight {
    padding-bottom: 80px;
  }
  .footerMobile {
    display: flex;
    visibility: visible;
  }
}

@media (max-width: 667.98px) {
  .footerMobile {
    padding: 10px 30px;
  }
}
@media (max-width: 575.98px) {
  .coppyRight {
    flex-direction: column;
  }
}
@media (max-width: 468.98px) {
  .footerMobile {
    padding: 10px;
  }
  .footerMobileIcon {
    width: 20px;
    height: 20px;
  }
  .footerMobileBox {
    font-size: 12px;
    text-align: center;
  }
}
