.btnViewDetail,
.btnGlobal {
  padding: 20px 16px;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  &:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
    background-color: inherit;
  }
}
.btnViewDetail {
  color: $text-secondary;
  border: 1px solid $text-secondary;
  background-color: transparent;
}
.btnGlobal {
  @include bg-linear-gradient();
  color: white;
}
